// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

   
h2 {
  color: #CCC;
  font-size: 3.5em;
  padding-top: 60px;
  font-family: times;
  font-style: italic;
  }

.course-list-item {
  padding: 30px;
  border-top: 2px solid #EEE;
  color: #999;
  h3 {
    color: #666;
    font-size: 2em;
    font-family: times;
    }
  p {
    color: #999;
    }
  .course-show-button {
    margin-top: 10px;
    }
  } 
                                 
.course-badge > img {
}
